/* Color and style classes */
body{
    background-color:#F3E9DE;
    display: grid;
    grid-template-columns: 1fr 4fr;
    font-family: 'Montserrat', sans-serif;
}

.side{
    background-color:#FAF4EC ;
    padding-bottom: 590px;
    color:#256993;
}
.main{
    color:#256993;
    text-align: center; 
    height: 100%;
    font-weight: bold;
    
}


h2{
    font-size: 30px;
}

.foot{
    position:fixed;
    left:150px;
    bottom:0;
    width: 100%;
}

.small{
    height: 50px;
    width: 50px;
}

.box{

    text-align: left;
    align-items: left;
    border-style: solid;
    margin-bottom: 100px;
    background-color:#FAF4EC ;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;


}

.links{
    text-align: right;
}

.dark{
background-color:#56536A;
border-radius: 12px;
padding: 12px 24px;
float:right;
margin-top:10px;
color:white;
}

.new{
background-color:#375F68;
border-radius: 12px;
padding: 12px 24px;
margin-top:10px;
float:left;
color:white;
}

.save{
background-color:#375F68;
border-radius: 12px;
padding: 12px 24px;
margin-top:-80px;
margin-right:100px;
float:right;
color:white;
}

.cancel{
background-color:#9B332C;
border-radius: 12px;
padding: 12px 24px;
margin-top:-80px;
float:right;
color:white;
}


/* Cancel function classes */

.hideElement{
    display:none
}


/* Dark mode classes */


.maindarkBG{
    background-color: #3f3e3c;
    color:#FAF4EC
}

.sidedarkBG{
    background-color: #434242;
    color:#F3E9DE
}

.whiteText{
    color:#F3E9DE
}




/* Responsive Design */

@media screen and (max-width:480px) {

    body{
        display: flex;
        flex-direction: column-reverse;
    }

    .side{
        padding-bottom: 40%;
    }

    .foot{
        left:0;
        position:relative
    }


}

@media screen and (max-width:800px) {

    body{
        display: flex;
        flex-direction: column-reverse;
    }

    .side{
        padding-bottom: 40%;
    }

    .foot{
        left:0;
        position:relative
    }


}

